.subtext {
    color: cornflowerblue;
    padding-top: 50px;
    font-size: 0.8em;
    font-style: italic;
}

.maintext {
    color: darkcyan;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 3em;
    font-weight: bold;
}

.pad-right {
    padding-right: 50px;
}